body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Inter,sans-serif;
    font-size: 20px;
    background-image: url("img/background.png");
    /*background-color: #EEE0CB; */
    color: black;

}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}
header{
    background-color: #24242b; /* 2D82B7  3E7CB1 F18F01*/ 
    color: white;
    width: 100%;
    min-height: 65px;   
    border-bottom: 1px solid #000000;
}
nav{
    width: 60%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    box-sizing: border-box;
}
article{
    background-color: #EEE0CB;
    text-align: center;
    font-size: 20px;
    padding: 30px;
    padding-top: 20px;
    box-sizing: border-box;
    width: 60%;
    min-height: 850px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
footer{
    background-color: #202020;
    color: #696763;
    font-size: 11px;
    width: 100%;
    height: 35px;
    clear: both;
    text-align: center;
    line-height: 35px;
    letter-spacing: 1px;
    box-sizing: border-box;
}
footer::before{
    content: "COPYRIGHT © 2021 Quiz.PL";
}
.option{
    margin-left: 30px;
    margin-right: 30px;
}
.question{
    border: 2px solid black;
    text-align: left;
    margin: 30px;
    box-sizing: border-box;
    padding: 20px;
    word-spacing: 2.5px;
    line-height: 30px;
}
input[type="radio" i] {
    margin-right: 12px;
}
